/* Modal styles */

.modal .modal-dialog {
    max-width: 700px;
}

.modal-header {
    background: #667da5;
}

.modal-header a:hover {
    background: #8096bc;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.modal-header, .modal-header button {
    color: #F4F7F5;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 3px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
    margin: 0;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}

.modal-content {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}