:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

a.nav-link {
    font-weight: 400;
    color: #cfcfcf;
    text-decoration: none;
}

a.nav-link:hover {
    color: orange;
    text-decoration: underline;
}

a.nav-link:focus, a.nav-link.focus {
    text-decoration: underline;
    box-shadow: none;
}

a.nav-link:disabled, a.nav-link.disabled {
    color: blue;
    pointer-events: none;
}

footer.fixar-rodape {
    /*border-top: 1px solid #333;*/
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.content-center {
    display: flex;
    /*justify-content: center;*/
    /*justify-self: center;*/
    align-self: center;
}

.content-center #add {
    /*margin-left: 75px;*/
}

header {
    /*background-color:#566787; !*#5779bd*!*/
    /*background: #566787 linear-gradient(to right, #435d7d , #5DB7DE);!*#007bff 33AEFF*!*/
    background: #566787;
    color: #F4F7F5;
}

.mainHome {
    /*transition: 1s ease-in;*/
}

body {
    background-color: #f7f7f7;
    height: 100%;
    /*color: #cfcfcf;*/
    color: #566787;
}

div.card-signin {
    border: 0;
    border-radius: 2rem;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2.5rem 2.5rem 4rem 2.5rem;
    background-color: #f7f7f7;
    border-radius: 15px
}

.div-form {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 2rem;
}

form {
    width: 400px;
    justify-self: center;
}

.form-control {
    background: transparent;
    border: none;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 90%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.h1 {
    margin: 0;
}

.helper {
    display: flex;
}

nav {
    background-color: #435d7d;
}

nav img {
    border-radius: 100%;
    object-fit: cover;
    align-self: center;
    margin-right: 10px;
    vertical-align: middle;
}

.img-login {
    display: block;
    width: 72px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
}

.login-title {
    margin-bottom: 2rem;
}

.nav-title {
    color: #F4F7F5;
}

.nav-item{
    padding-left: 45px;
    margin-top: 10px;
    font-size: 13px;
}