.content-center {
    display: flex;
    /*justify-content: center;*/
    /*justify-self: center;*/
    align-self: center;
}

footer {
    /*border-top: 1px solid #333;*/
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.h1 {
    margin: 0;
}

header {
    /*background-color:#566787; !*#5779bd*!*/
    /*background: #566787 linear-gradient(to right, #435d7d , #5DB7DE);!*#007bff 33AEFF*!*/
    background: #566787;
    color: #F4F7F5;
}

.helper {
    display: flex;
}

nav {
    background-color: #435d7d;
}

nav img {
    border-radius: 100%;
    object-fit: cover;
    align-self: center;
    margin-right: 10px;
    vertical-align: middle;
}

.nav-title {
    color: #F4F7F5;
}

.nav-item{
    padding-left: 45px;
    margin-top: 10px;
    font-size: 13px;
}
